{% load static %}
<!DOCTYPE html>
<html>
<img src="{% static "images/destacada.png" %}" alt="Smiley face" height="300px" width="100%">

<head>
    <title>Terms and Conditions</title>
</head>

<body>
    <h1>
        <p style="text-align: center;">
            <strong>Terms of Use - El Secreto Applicado</strong>
        </p>
    </h1>
    <p>Thank you for joining El Secreto (&ldquo;We&rdquo;, &ldquo;Us&rdquo;, &ldquo;Company&rdquo;). These Terms of Use, together
        with the Privacy Policy, and any other documents they expressly incorporate, set forth the terms and conditions upon
        which you may access and use mobile application and Service provided or operated by El Secreto (&ldquo;Service&rdquo;)
        including any content and functionality offered through the Service. (&ldquo;Terms of Use&rdquo; or &ldquo;Agreement&rdquo;)
        <br />
        <br />PLEASE READ THE TERMS OF USE CAREFULLY BEFORE YOU START TO USE THE SERVICE. BY USING THE SERVICE, YOU REPRESENT YOU
        ARE AT LEAST 13 YEARS OF AGE. FURTHER, YOU ACCEPT AND AGREE TO BE BOUND AND ABIDE BY THESE TERMS OF USE. IF YOU ARE
        NOT 13 YEARS OLD OR DO NOT WANT TO AGREE TO THESE TERMS OF USE, YOU MUST NOT ACCESS OR USE THE SERVICE. WE RESERVE
        THE RIGHT TO CHANGE, ADD OR REMOVE PORTIONS OF THESE TERMS OF USE AND ANY DOCUMENTS INCORPORATED HEREIN AT ANY TIME
        AND AT OUR SOLE DISCRETION. YOUR CONTINUED USE OF THE SERVICE FOLLOWING THE POSTING OF ANY CHANGES MEANS THAT YOU
        ACCEPT AND AGREE TO SUCH CHANGES. IT IS YOUR RESPONSIBILITY TO CHECK THESE TERMS OF USE PERIODICALLY FOR CHANGES.</p>
    <p style="text-align: center;">Use of the Service.
        <br />
        <strong>General </strong>
    </p>
    <p>
        <br />Subject to the terms and conditions of this Agreement, and during the term of this Agreement, El Secreto grants you
        a non-exclusive and non-transferable right to access and use the Service in accordance with the terms of this Agreement,
        and any documentation made available to you by El Secreto solely for purposes of your personal use of the Services.
        You agree that you will not reverse-engineer, decompile, disassemble, translate, or otherwise attempt to obtain access
        to the source code of, any aspect of the Services, including any and all technology, software and content. You will
        not copy, reproduce, alter, create derivative works from, or otherwise modify the Services, including any and all
        technology, software and content. You will not lease, loan, sublicense, distribute, or otherwise provide others access
        to or with any aspect of the Services. Other than as expressly set forth in this Agreement, no license or other rights
        in or to the Services are granted to you, and all such licenses and rights are hereby expressly reserved.
        <br />
        <br />The Service has been designed by El Secreto with the purpose of assisting people achieve their goals through lifestyle
        choices and behavior. The Service requires your active engagement and participation. You understand that, despite
        your efforts, individual users results will vary for a variety of reasons and El Secreto cannot guarantee that you
        will achieve your goals.</p>
    <p style="text-align: center;">
        <br />
        <strong>Registration</strong>
    </p>
    <p>
        <br />You are required to register for the Service and provide certain information about yourself. All information we collect
        about you in connection with the Services is subject to our Privacy Policy. By using the Service, you consent to
        all actions taken by us with respect to your information in compliance with the Privacy Policy, including being contacted
        via email.
        <br />
        <br />You will receive a user account for our personal use that requires an email and password. You are responsible for
        all activities that occur under your user account. You shall: (i) have sole responsibility for the accuracy, quality,
        integrity, legality, reliability, and appropriateness of all data you provide; (ii) maintain the confidentiality
        of your password and user account information; (iii) use commercially reasonable efforts to prevent unauthorized
        access to, or use of, the Service, and notify the Company promptly of any such unauthorized use; and (iv) comply
        with all applicable local, state, and federal laws in using the Service.
        <br />
        <br />You will provide our Company with accurate, complete, and updated registration information. Failure to do so shall
        constitute a breach of these Terms, which may result in immediate termination of your Company account. You shall
        not use a false nature, email address or otherwise enter information with the intent to impersonate another person.</p>
    <p style="text-align: center;">
        <br />
        <strong>Term and Termination</strong>
    </p>
    <p>
        <br />The term of this Agreement will begin upon your successful registration for the Service and will continue indefinitely
        unless terminated by either party as permitted herein.
        <br />The Company may suspend or terminate your access to the Service if you (a) breach any term of this Agreement, or
        (b) engage in any conduct that the Company determines in its discretion may have an adverse effect on the Company
        or its reputation. Upon termination, you will no longer have access to the Service, mobile application or content
        provided through the Services. In addition to termination, Company reserves the right to pursue any and all remedies
        available to it.</p>
    <p style="text-align: center;">
        <br />
        <strong>Intellectual Property Ownership</strong>
    </p>
    <p>&nbsp;
        <br />Except for the limited license and use rights expressly granted to you under this Terms of Use during the Term, all
        title to and the rights in the Services, including any and all technology, software and content, including ownership
        rights to patents (registrations, renewals, and pending applications), copyrights, trademarks, trade secrets, the
        Company&rsquo;s or third party hardware, other technology, any derivatives of and all goodwill associated with the
        foregoing is the exclusive property of the Company and/or third parties.</p>
    <p style="text-align: center;">
        <br />
        <strong>Confidentiality</strong>
    </p>
    <p>
        <br />We will use and protect your personal information pursuant to the Privacy Policy. You agree not to reveal or disclose
        any confidential information of the Company, which includes information, materials and content provided in connection
        with the Service) for any purpose with the Company&rsquo;s consent.</p>
    <p style="text-align: center;">
        <br />
        <strong>Non-Confidential Information</strong>
    </p>
    <p>
        <br />Subject to any applicable terms and conditions set forth in our Privacy Policy, any other communication or material
        that you send to us through the Service, such as any questions, comments, suggestions or the like, is and will be
        deemed to be non-confidential and we will have no obligation of any kind with respect to such information. We will
        be free to use any ideas, concepts, know-how or techniques contained in such communication for any purpose whatsoever,
        including but not limited to, developing, manufacturing and marketing products.</p>
    <p style="text-align: center;">
        <br />
        <strong>Content</strong>
    </p>
    <p>The information presented on or through the Service is made available solely for general information purposes. We do
        not warrant the accuracy, completeness or usefulness of this information. Any reliance you place on such information
        is strictly at your own risk. This Service may provide information about health and wellness and certain health conditions.
        However, nothing on this Service should be construed as providing any kind of medical advice or recommendation, and
        should not be relied on as the basis for any clinical decision or action. We disclaim all liability and responsibility
        arising from any reliance placed on such materials by you.</p>
    <p style="text-align: center;">
        <br />
        <strong>Service Access and Changes</strong>
    </p>
    <p>
        <br />We reserve the right to withdraw or amend this Service or materials we provide in connection with the Service, in
        our sole discretion. We will not be liable if for any reason all or any part of the Service is unavailable at any
        time or for any period. From time to time, we may restrict access to some parts of the Service, or the entire Service
        to users. We also may update the content on this Service from time to time, and we make reasonable efforts to maintain
        current information. However, we cannot guarantee that the content is complete or up-to-date.</p>
    <p style="text-align: center;">
        <br />
        <strong>Trademarks</strong>
    </p>
    <p>
        <br />Trademarks, service marks, graphics and logos used in connection with the Service are the trademarks of their respective
        owners. You are granted no right or license with respect to any of the trademarks mentioned above and any use of
        such trademarks. You acknowledge and agree that all text, graphics, photographs, trademarks, logos, visual interfaces,
        artwork, computer code and all other related content contained on the Service is owned by the Company or third parties
        and is protected by trade dress, copyright, patent and trademark laws, and various other intellectual property rights
        and unfair competition laws. Any reproduction, publication, further distribution or public exhibition of materials
        provided through the Service, in whole or in part, is strictly prohibited. Except as expressly provided in these
        Terms of Use, no part of the Service and no content may be copied, reproduced, republished, uploaded, posted, publicly
        displayed, encoded, translated, distributed or transmitted in any way (including &ldquo;mirroring&rdquo;) to any
        other computer, server, Service or other medium for publication or distribution or for any commercial enterprise,
        without the express prior written consent of the Company.</p>
    <p style="text-align: center;">
        <br />
        <strong>Third Party Links and Technology </strong>
    </p>
    <p>
        <br />Any and all third party technology or Services provided, made available, linked to, or otherwise accessible through
        the Service (&ldquo; Third Party Technology&rdquo;) is provided solely as a convenience to you and not under our
        control. The Company does not endorse, recommend, or otherwise make any representations or warranties with respect
        to any Third Party Technology. The Company does not have any responsibility or liability to you for any Third Party
        Technology which you access and you use it at your own risk. Further, you agree to comply with any and all terms
        and conditions applicable to the use of Third Party Technology and otherwise ensure that you have obtained all rights,
        licenses, and clearances that may be necessary to use such Third Party Technology. We encourage you to review the
        terms of use and privacy policies applicable to such Third Party Technology.</p>
    <p>
        <br />
        <strong>Intended for Users Over 13</strong>
        <br />The Service is not for use by individual under the age of 13. We will not knowingly collect information or provide
        Services to anyone under the age of 13.</p>
    <p style="text-align: center;">
        <br />
        <strong>Indemnity</strong>
    </p>
    <p>
        <br />You agree to defend, indemnify, and hold the Company, its officers, directors, partners, employees, contractors,
        agents, licensors, and suppliers, harmless from and against any claims, actions or demands, liabilities and settlements
        including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your
        use of the Service.
        <br />
        <br />By using the Service, you expressly agree that use of the Service is at your sole risk. The Service is provided on
        an &ldquo;AS IS&rdquo; and &ldquo;as available&rdquo; basis. NEITHER The Company nor its officers, directors, managers,
        members, employees, agents, third-party content providers, designers, contractors, distributors, merchants, sponsors,
        licensors or the like (collectively, &ldquo;Affiliates&rdquo;) warrant that use of the Service will be uninterrupted
        or error-free. Neither The Company nor its Affiliates warrant the accuracy, integrity or completeness of the content
        provided on the Service or the products or services offered for sale on the Service. Further, The Company makes no
        representation that content provided on the Service is applicable to, or appropriate for use in, locations outside
        of Chile. The Company and its Affiliates specifically disclaim all warranties, whether expressed or implied, including
        but not limited to warranties of title, merchantability or fitness for a particular purpose. No oral advice or written
        information given by The Company or its Affiliates will create a warranty. Some states do not allow the exclusion
        or limitation of certain warranties, so the above limitation or exclusion may not apply to you.</p>
    <p style="text-align: center;">
        <br />
        <strong>Limitation of Liability </strong>
    </p>
    <p>
        <br />Except where prohibited by law, in no event will THE COMPANY OR ITS AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT,
        INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM YOUR USE OF OR INABILITY TO USE THE SERVICE, INCLUDING
        BUT NOT LIMITED TO RELIANCE BY YOU ON ANY INFORMATION OBTAINED FROM THE SERVICE. THE FOREGOING LIMITATION OF LIABILITY
        WILL APPLY IN ANY ACTION, WHETHER IN CONTRACT, TORT OR ANY OTHER CLAIM, EVEN IF AN AUTHORIZED REPRESENTATIVE OF THE
        COMPANY HAS BEEN ADVISED OF OR SHOULD HAVE KNOWLEDGE OF THE POSSIBILITY OF SUCH DAMAGES. If, notwithstanding the
        other provisions of these Terms of Use, The Company is found to be liable to you for any damage or loss which arises
        out of or is in any way connected with your use of the Service, THE COMPANY&rsquo;S AND ITS AFFILIATE&rsquo;S liability
        will in no event exceed the amount of fees paid during the preceding 12 month period. Some jurisdictions do not allow
        limitations of liability, so the foregoing limitation may not apply to you.</p>
    <p style="text-align: center;">
        <br />
        <strong>Governing Law</strong>
    </p>
    <p>You agree that all matters relating to your access to or use of the Service, including all disputes, will be governed
        by the laws of the Chile without regard to its conflicts of laws provisions. WAIVER OF TRIAL BY JURY . EXCEPT WHERE
        PROHIBITED BY LAW, YOU EXPRESSLY WAIVE TRIAL BY JURY IN ANY JUDICIAL PROCEEDING INVOLVING ANY DISPUTE, CONTROVERSY,
        OR CLAIM ARISING OUT OF OR RELATING TO THESE TERMS AND CONDITIONS OR THE SERVICE.</p>
    <p style="text-align: center;">
        <br />
        <strong>No Waiver </strong>
    </p>
    <p>
        <br />The failure of the Company to insist on or enforce strict performance of these Terms of Use will not be construed
        as a waiver by The Company of any provision or any right it has to enforce these Terms of Use, nor will any course
        of conduct between the Company and you or any other party be deemed to modify any provision of these Terms of Use.</p>
    <p style="text-align: center;">
        <br />
        <strong>Severability</strong>
    </p>
    <p>The provisions of these Terms of Use are severable. The invalidity, in whole or in part, of any provision of these Terms
        of Use will not affect the validity or enforceability of any other of its provisions. If any of the provisions of
        these Terms of Use are held by a court or other tribunal of competent jurisdiction to be void or unenforceable, such
        provisions will be limited or eliminated to the minimum extent necessary and replaced with a valid provision that
        best embodies the intent of these Terms of Use, so that these Terms of Use will remain in full force and effect.
        <br />
        <br />
        <strong>Effective: August 11, 2018</strong>
        <br /> </p>
    <p style="text-align: center;">
        <strong>Privacy Policy</strong>
    </p>
    <p>
        <br />El Secreto and its related companies (&ldquo;We&rdquo;, &ldquo;Us&rdquo;, &ldquo;Company&rdquo;) take your privacy
        seriously, and we want you to know how we collect, use, share, and protect your information. This Privacy Policy
        tells you what information we collect from visitors of websites and mobile applications and services owned and controlled
        by the Company (&ldquo;App) and users of our Services, how we use that information, how we may share that information,
        how we protect your information, and your choices regarding your personal information.</p>
    <p style="text-align: center;">
        <br />
        <strong>Information We Collect from You</strong>
    </p>
    <p>
        <br />&ldquo;Personal information&rdquo; is information through which you can be personally identified, including any photographs
        you may upload (if applicable). Personal Information that we collect may include your full name, credit card and/or
        other payment information (if applicable), your email address, phone number (if applicable), or any other information
        or data that you provide when using our App or Services. We collect personal information you choose to provide to
        us, including through registrations, applications, surveys, chat sessions or other inquiries. We do not collect information
        that would identify you unless you choose to provide it to us. You can choose not to provide us with certain information,
        but please be aware that may impact the Services provided to you.
        <br />
        <br />&ldquo;General information&rdquo; is information we obtain automatically from your connection, interaction with this
        App and the use of Cookies and other technologies. General information does not identify you personally. For instance,
        we do not identify your name from your Internet browser address, but we use it to compile statistics about visitors
        to our App and preferences of our visitors. General information we collect when you visit our App may include but
        is not limited to the domain and host from which you access the Internet, the Internet protocol address of the computer
        you are using (&ldquo;IP Address&rdquo;), the browser software you are using, the operating system you are using,
        the date and time that you access our App, the specific pages you visit at our App, the number of visits you make
        to our App, the number of visits to specific pages you make at our App and products or services viewed at our App.
        <br />
        <br />&ldquo;Cookies&rdquo; are small pieces of information which a App stores on your computer and can later retrieve.
        Cookies cannot be read by a App other than the one that sets the cookie. We use cookies to enhance the use of our
        App.</p>
    <p style="text-align: center;">
        <br />
        <strong>What We Do with Your Information</strong>
    </p>
    <p>
        <br />El Secreto respects your privacy and will not sell your personal information to third parties. We may use your personal
        information to provide Services to you, respond to your inquiries, provide information on products and services you
        request or have a representative contact you regarding our products or services. Unless you have otherwise opted
        out of receiving email communication from us, you agree by using the App or Services, to allow us to use your email
        for communication and provision of Services consistent with this Privacy Policy.
        <br />
        <br />We may also use your personal information to update you on special offers related to our products or services, improve
        our products and services, provide product announcements or information regarding health topics, deliver other information
        we believe you will find most relevant, and useful and in any other way we may describe when you provide the information
        or to which you consent. We may occasionally contact you to gather customer service information to help us determine
        how we can improve our services and products to better meet your needs. We may also de-identify and/or aggregate
        your data for various business purposes including product, service and program development and improvement. De-identified
        data, in individual or aggregated form, may also be used for research purposes both internally by El Secreto or with
        research partners and other third parties for the advancement of clinical and scientific knowledge.
        <br />
        <br />This policy does not apply to personal information we collect from other sources. That information is governed by
        the agreement between us and the source of the data. We may combine or cross-reference your personal information
        with general information or other information we may have acquired about you or may acquire about you through other
        sources, including offline sources of information to help further customize the information, products or services
        we provide to you.
        <br />
        <br />We use the general information we collect from you to help us understand and analyze users of our App, including
        generating aggregate statistics about App use. This data can then be used to tailor this App&rsquo;s content, deliver
        a better experience for our users. We may also collect, aggregate and maintain anonymous information about the visitors
        to our App. We may further share such aggregate, non-identifiable information with business partners, sponsors and
        other third parties.
        <br />
        <br />How We Keep Your Information Secure . We seek to safeguard the security of your personal information and have implemented
        reasonable security measures consistent with accepted practices in the healthcare industry to protect the confidentiality
        of your personal information and limit access to it. We have put in place a variety of information security measures
        to protect your personal information, including encryption technology, such as Secure Sockets Layer (SSL), to protect
        your personal information during data transport and at rest. However, despite our efforts to protect your personal
        information, there is always some risk that an unauthorized third party may find a way around our security systems
        or that transmissions of your personal information over the Internet will be intercepted. Unfortunately, we cannot
        guarantee the absolute security of your personal information, nor can we guarantee that information that you provide
        will not be intercepted while being transmitted to us over the Internet. Therefore, we urge you to also take every
        precaution to protect your personal information when you are on the Internet or using the App.</p>
    <p style="text-align: center;">
        <br />
        <strong>How to Opt Out </strong>
    </p>
    <p>
        <br />To opt out, please do not provide your personal information to us, or after providing your personal information to
        us, please send written notification to us that you no longer wish to receive information and communications from
        us or otherwise share your personal information. With respect to the collection and use of general information, you
        have the ability to disable or manage the use of cookies on your computer using controls in your browser. However,
        you are not able to opt out of the uses of general information otherwise collected as set forth in this policy. Please
        note that certain features of the App may not be available when cookies are disabled. To learn more about how to
        manage cookies, visit http://www.allaboutcookies.org.
    </p>
    <p style="text-align: center;">
        <br />
        <strong>Children&rsquo;s Privacy</strong>
    </p>
    <p>
        <br />We are committed to protecting the privacy of children. This App is not designed or intended for children and we
        do not intentionally collect information about children under 13 years old. If a parent or guardian becomes aware
        that a child under 13 years old has provided personal information to us without their consent, please contact us
        at information listed under the Contact US section below.</p>
    <p style="text-align: center;">
        <br />
        <strong>Third Party Websites </strong>
    </p>
    <p>
        <br />Please be aware that our website or App may have links to third-party websites that may collect personal information
        about you. When you click on one of these third-party links, you are entering another website for which we have no
        responsibility. This Privacy Policy does not cover the information practices or policies of such third-party websites.
        We encourage you to read the privacy policies of all such websites since their privacy policies may be materially
        different than our
        <br />Privacy Policy
        <br />In addition, we may rely on third-party advertisers, ad networks and ad servers to promote our App. These third parties
        may use cookies alone or in conjunction with web beacons or other tracking technologies to collect information about
        our users. This may include information about users' behavior on this and other Apps to serve them interested-based
        (behavioral) advertising. No information you share within our App or shared through Apple&rsquo;s Health App will
        be shared with third-party advertisers. We do not control these third parties' tracking technologies or how they
        may be used. If you have any questions about an advertisement, you should contact the responsible advertiser directly.</p>
    <p style="text-align: center;">
        <br />
        <strong>Changes</strong>
    </p>
    <p>
        <br />We reserve the right to modify the terms of this Privacy Policy at any time and in our sole discretion, without notice.
        When the Privacy Policy is changed, modified, and/or amended, the revised Privacy Policy will be posted on our App.
        Modifications will be effective immediately. You should visit this web page periodically to review the Privacy Policy.
        You accept any such modifications to this Privacy Policy by continued use of our App after such modifications are
        made.
        <br />
        <br />
        <em>
            <strong>Contact Us</strong>
        </em>
        <br />If you would like to update your personal information, delete your account, change your preferences or have any questions
        or concerns about your privacy, you may contact us at elsecretoapplicado@gmail.com. Please note that some information
        may remain in our records after deletion of your account, including any information or records we are legally obligated
        to retain.
        <br />
    </p>
</body>

</html>